@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap');
/* Labels */
:root {
    /* Color Basics */
    --primary-color: #08bdbd; /*I used it */
    --secondary-color: #1162BD; /*I used it */
    --accent2-color: #90E0EF; /*I used it */
    --var-color-white: #f7f7f7;

    /* Opacity */
    --var-color-white-25: #f7f7f7e0;
    --var-color-white-50: #f7f7f7af;

    --accent2-color-25: #90e1ef49;
    --accent2-color-50: #90e1ef88;

    /* Colors letters */
    --var-text-color-white: #f7f7f7;
    --var-text-color-black: #000000;
}

main section { 
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: #fcfbfbd2;
    margin: 0;
    padding: 0;
}

header { 
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto 150px;
    z-index: 5;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a { 
    padding-left: 15px;
    text-decoration: none;
}

a:hover {
    color: var(--var-text-color-black);
    text-decoration: none;
}

h2 { margin: 0; }

h4 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: var(--var-text-color-black);
    margin-bottom: 40px;
    padding: 10px;
}

footer { 
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: var(--var-text-color-white);
    text-decoration: none;
}

footer a:hover { 
    color: var(--var-text-color-black);
    text-decoration: none;
}

footer p { font-size: 1.2em; }
footer p a:hover { text-decoration: underline; }
footer .social img {
    padding-top: 15px;
}

/* hashtags */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    z-index: -1;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-overlay{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    background-color: var(--accent2-color-50);
    z-index: 0;
}
#hero-img {
    width: 100%;
}

#hero-msg{
    margin-top: 150px;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#background {
    height: 725px;
    background-color: var(--accent2-color);
    grid-column: 1/11; 
    grid-row: 4/9;
}

#logo_link {
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
}

/* Classes */
.icon { 
    width: 50px;
    padding-top: 10px;
}

.button-box { text-align: center; }

.book, .join {
    color: var(--var-text-color-black);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.book:hover, .join:hover { 
    background-color: var(--secondary-color);
    color: var(--var-text-color-white);
    opacity: .9;
    transform: scale(1.1);
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img{ 
    border: 10px solid var(--secondary-color);
    border-radius: 10px;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 200px 0;
} 

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 200px 0;
} 

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
    margin: 200px 0;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: var(--var-color-white-50);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: var(--var-text-color-black); 
}

.msg p { 
    font-size: 0.8em;
    color: var(--var-text-color-black);
    padding-bottom: 15px;
}

.home-title {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 2em;
    color: var(--var-text-color-black);
}

/* Color Classes*/
.text-color-white{ color: var(--var-text-color-white); }
.text-color-black{ color: var(--var-text-color-black); }

/* Page: Information.html */

.info-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.info-place{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.img-raf-hotel-1{
    grid-column: 2/4;
    grid-row: 1/3;
    border-radius: 100%;
    text-align: center;
}

.img-raf-hotel-1, img{
    /* z-index: 4; */
}

.info-box{
    background-color: var(--accent2-color);
    grid-column: 3/11;
    grid-row: 2/4;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 125px 125px 100px;
}

.info-place-title{
    grid-column: 4/10;
    grid-row: 1/2;
    text-align: center;
    color: var(--var-text-color-black);
    padding-top: 50px;
}

.info-place-text{
    grid-column: 3/11;
    grid-row: 2/3;
    text-align: center;
    color: var(--var-text-color-black);
}

.info-bring{
    background-color: var(--accent2-color);
    grid-row: 2/3;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15%, auto;
}

.info-bring-title{
    text-align: center;
    grid-column: 1/13;
    padding-top: 75px;
}

.info-bring-object-1{
    grid-column: 2/5;
    grid-row: 2/3;
}

.info-bring-object-2{
    grid-column: 5/9;
    grid-row: 2/3;
}

.info-bring-object-3{
    grid-column: 8/13;
    grid-row: 2/3;
}

.info-bring-img{
    height: 275px;
    width: 300px;
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
}

.info-payment{
    grid-row: 3/4;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-top: 150px;
}

.info-payment-background-square{
    background-color: var(--secondary-color);
    grid-column: 3/9;    
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 0px 0px 15px -1px rgb(83, 83, 83);
    border-radius: 15px;
}

.info-payment-title{
    grid-column: 3/7;
    grid-row: 2/3;
    text-align: center;
    color: var(--var-color-white);
}

.info-payment-text{
    grid-column: 3/7;
    grid-row: 3/5;
    text-align: center;
    color: var(--var-color-white);
    padding-top: 0;
    margin-top: 0;
}

.info-payment-method-1{
    grid-column: 8/11;
    grid-row: 1/3;
    text-align: center;
}

.info-payment-method-2{
    grid-column: 8/11;
    grid-row: 3/5;
    text-align: center;
}

.info-payment-method-3{
    grid-column: 8/11;
    grid-row: 5/7;
    text-align: center;
}

.payment-method-box{
    margin: 25px;
    box-shadow: -5px 0px 15px -1px rgb(83, 83, 83);
    border-radius: 5px;
    background-color: var(--accent2-color);
    padding-top: 25px;
}

.payment-box-text{
    text-align: center;
    color: var(--var-text-color-black);
}

.text-font{ font-family: 'Roboto', 'Open Sans', sans-serif;}

/* Media Query */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    header{
        position: static;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
        border-radius: 0;
    }
    footer {
        margin-top: 25px;
    }
}